<div>
	<div className='container container-fluid'>
		<div className='row'>
			<div className='col-1 col-md-4 '></div>
			<div className='col-10 col-md-4 card  text-center'>
				<h1 class='user-select-none fs-1'>This is the Pipeline Sports
					Performance Member Management and Facility Data Warehouse</h1>

				{{! Form should only displayed when coach is logged in }}
				{{#if user.coach}}
				<a class='btn btn-primary' href='/pitchingEval' role='button'>
					Create Pitching Evaluation
				</a>
				<a class='btn btn-primary' href='/hittingEval' role='button'>
					Create Hitting Evaluation
				</a>
				<a class='btn btn-primary' href='/strengthEval' role='button'>
					Create Strength Evaluation
				</a>
				<a class='btn btn-primary' href='/workout' role='button'>
					Create Workout
				</a>
				<div class="accordion" id="incompleteWorkoutAccordion">
					<div class="accordion-item">
						<h3 class="accordion-header">
							<button class="accordion-button" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseIncompleteWorkout" aria-expanded="true" aria-controls="collapseIncompleteWorkout">
								Players Incomplete Workouts
							</button>
						</h3>
						<div id="collapseIncompleteWorkout" class="accordion-collapse collapse"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								{{#each incompleteWorkouts}}
								<div class="card" id="eval-card">
									<div class="card-header">
										<h3 class="card-title">{{this.data.playerName}}</h3>
									</div>
									<div class="card-body">
										<h4>{{this.data.dateCreated}}</h4>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>

				<div class="accordion" id="completeWorkoutAccordion">
					<div class="accordion-item">
						<h3 class="accordion-header">
							<button class="accordion-button" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseCompleteWorkout" aria-expanded="true" aria-controls="collapseCompleteWorkout">
								Players Completed Workouts
							</button>
						</h3>
						<div id="collapseCompleteWorkout" class="accordion-collapse collapse"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								{{#each completedWorkouts}}
								<div class="card" id="eval-card">
									<div class="card-header">
										<h3 class="card-title">{{this.data.playerName}}</h3>
									</div>
									<div class="card-body">
										<h4>{{this.data.dateCreated}}</h4>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				{{/if}}

				{{#if user.player}}
				<div class="accordion" id="homeEvalAccordion">
					<div class="accordion-item">
						<h3 class="accordion-header">
							<button class="accordion-button" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseEval" aria-expanded="true" aria-controls="collapseEval">
								Most Recent Evaluation
							</button>
						</h3>
						<div id="collapseEval" class="accordion-collapse collapse"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								{{#unless evaluations}}
								<p>At this time, you have not recieved any evaluations.
									Please schedule an evaluation with PSP!
								</p>
								{{/unless}}
								{{#each evaluations}}
								{{#if this.data.pitching}}
								<div class="card" id="eval-card">
									<div class="card-header">
										<h3 class="card-title">Pitching Evaluation</h3>
									</div>
									<div class="card-body">
										<h4>Coach: </h4>
										<p>{{this.data.coach}}</p>
										<h4>Date: </h4>
										<p>{{this.data.date}}</p>
										<h4>Mound Velocity: </h4>
										<p>{{this.data.moundVelo}}</p>
										<h4>Pulldown Velocity: </h4>
										<p>{{this.data.pulldownVelo}}</p>
										<h4>Comments: </h4>
										<p>{{this.data.comments}}</p>
									</div>
								</div>
								{{/if}}
								{{#if this.data.hitting}}
								<div class="card" id="eval-card">
									<div class="card-header">
										<h3 class="card-title">Hitting Evaluation</h3>
									</div>
									<div class="card-body">
										<h4>Coach: </h4>
										<p>{{this.data.coach}}</p>
										<h4>Date: </h4>
										<p>{{this.data.date}}</p>
										<h4>Tee Exit Velocity: </h4>
										<p>{{this.data.exitVeloTee}}</p>
										<h4>Front Toss Exit Velocity: </h4>
										<p>{{this.data.exitVeloToss}}</p>
										<h4>Comments: </h4>
										<p>{{this.data.comments}}</p>
									</div>
								</div>
								{{/if}}
								{{#if this.data.strength}}
								<div class="card" id="eval-card">
									<div class="card-header">
										<h3 class="card-title">Strength Evaluation</h3>
									</div>
									<div class="card-body">
										<h4>Coach: </h4>
										<p>{{this.data.coach}}</p>
										<h4>Date: </h4>
										<p>{{this.data.date}}</p>
										<h4>Bench Max: </h4>
										<p>{{this.data.bench}}</p>
										<h4>Squat Max: </h4>
										<p>{{this.data.squat}}</p>
										<h4>Deadlift Max: </h4>
										<p>{{this.data.deadlift}}</p>
										<h4>Comments: </h4>
										<p>{{this.data.comments}}</p>
									</div>
								</div>
								{{/if}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div class="accordion" id="homeWorkoutAccordion">
					<div class="accordion-item">
						<h3 class="accordion-header">
							<button class="accordion-button" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseWorkout" aria-expanded="true" aria-controls="collapseWorkout">
								Available Workouts
							</button>
						</h3>
						<div id="collapseWorkout" class="accordion-collapse collapse"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								{{#unless workouts}}
								<p>No incomplete workouts to show</p>
								{{/unless}}
								{{#each workouts}}
								<div class="card" id="eval-card">
									<div class="card-header">
										<h3 class="card-title">{{this.data.dateCreated}}</h3>
									</div>
									<div class="card-body">
										<h3>{{this.data.coach}}</h3>
										<a class="btn btn-primary" href="/workoutView" role="button">Start Workout</a>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>

</div>