<div>
	<div>
		<div className='container container-fluname'>
			<div id="Header row" class="row">
				<div class="col-6" text-align="center" style="border-bottom-style:solid; border-bottom-color:black; border-bottom-width:6px">
					<h1 class='title fs-1' name='pitchingLabel' >Pitching Evaluation</h1>
				</div>	
			</div>

			<form action='/pitchingEval' method='POST'>
				<div class='row gx-8 mt-3'>
					<div class="col-3" id="coachInputField">
						<label for='coachName' class='form-label' style="font-size: 16px" ><b>Coach</b></label>
						<input type='text' class='form-control' name='coachName' value='{{user.username}}'
							readonly='true' aria-describedby="passwordHelpBlock"/>
					</div>
					<div class="col-3" id="PdateInputField">
						<label for='date' class='form-label' style="font-size: 16px"><b>Date</b></label>
						<input type='text' class='form-control' name='date' readonly='true'
							value='{{currentDate}}' aria-describedby="passwordHelpBlock"/>
					</div>
				</div>

				<div class='row gx-15 mt-3'>
					<div class="col-2" id="playerChooseField">
						<label for='playerName' class='form-label' style="font-size: 16px"><b>Player</b></label>
						<div class='dropdown'>
							<button class='btn btn-secondary dropdown-toggle' type='button'
								name='dropdownPlayerButton' data-bs-toggle='dropdown' aria-haspopup='true'
								aria-expanded='false'>
								Choose a Player
							</button>
							<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
								{{#each players}}
								<button class="dropdown-item select-player" type="button"
									onclick="selectPlayer('{{this.id}}')">{{this.name}} <hidden hidden="true">{{this.id}}</hidden></button>
								{{/each}}
							</div>
						</div>							
						<input type="hidden" id="selectedPlayerInput" name="selectedPlayer" required="true">
						<script>function selectPlayer(playerId) {
							document.getElementById('selectedPlayerInput').value = playerId;
						}
						</script>								
					</div>

					<div class="col-6" id="moundAndPulldownField">
						<div class="row row-cols-1">
							<div class="col-3" id="MoundVeloField">
								<label for='moundVelo' class='form-label' style="font-size: 16px"><b>Mound Velo</b></label>
								<input type='number' class='form-label' name='moundVelo' max='110' min='0' required="true"/>
							</div>
							<div class="col-3" id="PulldownVeloField">
								<label for='pulldownVelo' class='form-label' style="font-size: 16px"><b>Pulldown Velo</b></label>
								<input type='number' class='form-label' name='pulldownVelo' max='110' min='0' required="true"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-6">
						<label for='comments' class='form-label' style="font-size: 16px"><b>Comments</b></label>
						<textarea class='form-control' name='comments' required="true" rows="3" aria-describedby="passwordHelpBlock"></textarea>
					</div>
				</div>

				<div class="row gx-3 mt-3">
					<div class="col-1">
						<a class='btn btn-primary' href='/' role='button'>Back</a>
					</div>
					<div class="col-1">
						<input type='submit' class='btn btn-primary'></input>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
