<div>
  <h1>{{ user.username }}'s Profile</h1>
  <div class="card" id="my-info">
  <div class="card-header">
    My Info
  </div>
  <div class="card-body">
      <p>Username: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
      <p>Account Type: {{#if user.player}} Player{{/if}}</p>
      <p>Teams: </p>
      <p>Member Since: </p>
  </div>
</div>
  {{#if user.player}}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Evaluations
        </button>
      </h3>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{#each evaluations}}
          {{#if this.data.pitching}}
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Pitching Evaluation</h3>
              <h4>Coach: </h4>
              <p>{{this.data.coach}}</p>
              <h4>Date: </h4>
              <p>{{this.data.date}}</p>
              <h4>Mound Velocity: </h4>
              <p>{{this.data.moundVelo}}</p>
              <h4>Pulldown Velocity: </h4>
              <p>{{this.data.pulldownVelo}}</p>
              <h4>Comments: </h4>
              <p>{{this.data.comments}}</p>
            </div>
          </div>
          {{/if}}
          {{#if this.data.hitting}}
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Hitting Evaluation</h3>
              <h4>Coach: </h4>
              <p>{{this.data.coach}}</p>
              <h4>Date: </h4>
              <p>{{this.data.date}}</p>
              <h4>Tee Exit Velocity: </h4>
              <p>{{this.data.exitVeloTee}}</p>
              <h4>Front Toss Exit Velocity: </h4>
              <p>{{this.data.exitVeloToss}}</p>
              <h4>Comments: </h4>
              <p>{{this.data.comments}}</p>
            </div>
          </div>
          {{/if}}
          {{#if this.data.strength}}
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Strength Evaluation</h3>
              <h4>Coach: </h4>
              <p>{{this.data.coach}}</p>
              <h4>Date: </h4>
              <p>{{this.data.date}}</p>
              <h4>Mound Velocity: </h4>
              <p>{{this.data.moundVelo}}</p>
              <h4>Pulldown Velocity: </h4>
              <p>{{this.data.pulldownVelo}}</p>
              <h4>Comments: </h4>
              <p>{{this.data.comments}}</p>
            </div>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  {{#if coach}}{{/if}}

  {{#if parent}}{{/if}}
</div>
</div>