<div>
  <h1>{{ user.username }}'s Profile</h1>
  <div class="card" id="my-info">
    <div class="card-header">
      My Info
    </div>
    <div class="card-body">
      <p>Username: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
      <p>Account Type: {{#if user.player}} Player{{/if}}</p>
      <p>Teams: </p>
      <p>Member Since: </p>
    </div>
  </div>
  {{#if user.player}}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Evaluation History
        </button>
      </h3>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{#each evaluations}}
          {{#if this.data.pitching}}
          <div class="card" id="eval-card">
            <div class="card-header">
              <h3 class="card-title">Pitching Evaluation</h3>
            </div>
            <div class="card-body">
              <h4>Coach: </h4>
              <p>{{this.data.coach}}</p>
              <h4>Date: </h4>
              <p>{{this.data.date}}</p>
              <h4>Mound Velocity: </h4>
              <p>{{this.data.moundVelo}}</p>
              <h4>Pulldown Velocity: </h4>
              <p>{{this.data.pulldownVelo}}</p>
              <h4>Comments: </h4>
              <p>{{this.data.comments}}</p>
            </div>
          </div>
          {{/if}}
          {{#if this.data.hitting}}
          <div class="card" id="eval-card">
            <div class="card-header">
              <h3 class="card-title">Hitting Evaluation</h3>
            </div>
            <div class="card-body">
              <h4>Coach: </h4>
              <p>{{this.data.coach}}</p>
              <h4>Date: </h4>
              <p>{{this.data.date}}</p>
              <h4>Tee Exit Velocity: </h4>
              <p>{{this.data.exitVeloTee}}</p>
              <h4>Front Toss Exit Velocity: </h4>
              <p>{{this.data.exitVeloToss}}</p>
              <h4>Comments: </h4>
              <p>{{this.data.comments}}</p>
            </div>
          </div>
          {{/if}}
          {{#if this.data.strength}}
          <div class="card" id="eval-card">
            <div class="card-header">
              <h3 class="card-title">Strength Evaluation</h3>
            </div>
            <div class="card-body">
              <h4>Coach: </h4>
              <p>{{this.data.coach}}</p>
              <h4>Date: </h4>
              <p>{{this.data.date}}</p>
              <h4>Bench Max: </h4>
              <p>{{this.data.bench}}</p>
              <h4>Squat Max: </h4>
              <p>{{this.data.squat}}</p>
              <h4>Deadlift Max: </h4>
              <p>{{this.data.deadlift}}</p>
              <h4>Comments: </h4>
              <p>{{this.data.comments}}</p>
            </div>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  {{#if user.admin}}
  <a class='btn btn-primary' href='/admin' role='button'>
    admin button
  </a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuTeamOptions"
      data-bs-toggle="dropdown" aria-expanded="false">
      Team Options
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuTeamOptionsButton">
      <li><a class='dropdown-item' href='/teams' role='button'>Team Viewer</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/teamOptions">Add or Remove a Team Member</a></li>
    </ul>
  </div>


  {{else user.coach}}
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuTeamOptions"
      data-bs-toggle="dropdown" aria-expanded="false">
      Team Options
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuTeamOptionsButton">
      <li><a class='dropdown-item' href='/teams' role='button'>Team Viewer</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/teamOptions">Add or Remove a Team Member</a></li>
    </ul>
  </div>
  {{/if}}

</div>
</div>