<div>
	<div>
		<div className='container container-fluname'>
			{{#if user.coach}}			
				<div className='row' id="Header row">
					<div class="col-12 col-md-6" text-align="center" style="border-bottom-style:solid; border-bottom-color:black; border-bottom-width:6px">
						<h1 class='title fs-1' name='StrengthLabel'>Stength Evaluation</h1>		
					</div>	
				</div>

				<form action='/strengthEval' method='POST'>
					<div class='row gx-5 mt-3'>
						<div class="col-6 col-md-3" id="CoachInputField">
							<label for='coachName' class='form-label' style="font-size: 16px"><b>Coach</b></label>
							<input type='text' class='form-control' name='coachName' value='{{user.username}}'
								readonly='true' aria-describedby="passwordHelpBlock" />
						</div>
						<div class="col-6 col-md-3" id="DateInputField">
							<label for='date' class='form-label' style="font-size: 16px"><b>Date</b></label>
							<input type='text' class='form-control' name='date' readonly='true'
								value='{{currentDate}}'aria-describedby="passwordHelpBlock" />
						</div>
					</div>

					<div class='row gx-5 mt-3'>
						<div class="col-6 col-md-2">
							<label for='playerName' class='form-label' style="font-size: 16px"><b>Player</b></label>
							<div class='dropdown'>
								<button class='btn btn-secondary dropdown-toggle' type='button'
									name='dropdownPlayerButton' data-bs-toggle='dropdown' aria-haspopup='true'
									aria-expanded='false'>
									Player
								</button>
								<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
									{{#each players}}
									<button class="dropdown-item select-player" type="button"
										onclick="selectPlayer('{{this.id}}')">{{this.name}} <hidden hidden="true">
											{{this.id}}</hidden></button>
									{{/each}}
								</div>
							</div>
							<input type="hidden" id="selectedPlayerInput" name="selectedPlayer" required="true">
							<script>function selectPlayer(playerId) {
									document.getElementById('selectedPlayerInput').value = playerId;
								}
							</script>
						</div>

						<div class="col-5 col-md-5 ms-3">
							<div class="row row-cols-1">
								<div class="col-10 col-md-3">
									<label for='squat' class='form-label' style="font-size: 16px"><b>Squat</b></label>
									<input type='number' class='form-label' name='squat' max='999' min='0' required="true"/>
								</div>
								<div class="col-10 col-md-3">
									<label for='bench' class='form-label' style="font-size: 16px"><b>Bench</b></label>
									<input type='number' class='form-label' name='bench' max='999' min='0' required="true"/>
								</div>
								<div class="col-10 col-md-3">
									<label for='deadlift' class='form-label' style="font-size: 16px"><b>Deadlift</b></label>
									<input type='number' class='form-label' name='deadlift' max='999' min='0' required="true"/>
								</div>
							</div>
						</div>
					</div>	

					<div class="row mt-3">
						<div class="col-12 col-md-6">
							<label for='comments' class='form-label' style="font-size: 16px"><b>Comments</b></label>
							<textarea class='form-control' name='comments' required="true" rows="3" aria-describedby="passwordHelpBlock"></textarea>
						</div>
					</div>

					<div class="row gx-3 mt-3">
						<div class="col-auto">
							<a class='btn btn-primary' href='/' role='button'>Back</a>
						</div>
						<div class="col-auto">
							<input type='submit' class='btn btn-primary'></input>
						</div>
					</div>
				</form>
			{{/if}}
		</div>
	</div>
</div>