<div>
	<div>
		<div className='container container-fluname'>
			<div className='row'>
				<div className='col-10 col-md-4 card  text-center'>
					{{#if user.coach}}
					<h1 class='title fs-5' name='StrengthLabel'>Stength Evaluation</h1>
					<form action='/strengthEval' method='POST'>
						<div class='mb-3'>
							<label for='coachName' class='form-label'>Coach</label>
							<input type='text' class='form-control' name='coachName' value='{{user.username}}'
								readonly='true' />
						</div>
						<div class='mb-3'>
							<label for='playerName' class='form-label'>Player</label>
							<div class='dropdown'>
								<button class='btn btn-secondary dropdown-toggle' type='button'
									name='dropdownPlayerButton' data-bs-toggle='dropdown' aria-haspopup='true'
									aria-expanded='false'>
									Choose a Player
								</button>
								<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
									{{#each players}}
									<button class="dropdown-item select-player" type="button"
										onclick="selectPlayer('{{this.id}}')">{{this.name}} <hidden hidden="true">
											{{this.id}}</hidden></button>
									{{/each}}
								</div>
							</div>
							<input type="hidden" id="selectedPlayerInput" name="selectedPlayer" required="true">
							<script>function selectPlayer(playerId) {
									document.getElementById('selectedPlayerInput').value = playerId;
								}
							</script>
						</div>
						<div class='mb-3'>
							<label for='squat' class='form-label'>Squat</label>
							<input type='number' class='form-label' name='squat' max='999' min='0' required="true"/>
						</div>
						<div class='mb-3'>
							<label for='bench' class='form-label'>Bench</label>
							<input type='number' class='form-label' name='bench' max='999' min='0' required="true"/>
						</div>
						<div class='mb-3'>
							<label for='deadlift' class='form-label'>Deadlift</label>
							<input type='number' class='form-label' name='deadlift' max='999' min='0' required="true"/>
						</div>
						<div class='mb-3'>
							<label for='comments' class='form-label'>Comments</label>
							<input type='text' class='form-control' name='comments' required="true"/>
						</div>
						<div class='mb-3'>
							<label for='date' class='form-label'>Date</label>
							<input type='text' class='form-control' name='date' readonly='true'
								value='{{currentDate}}' />
						</div>
						<input type='submit' class='btn btn-primary'></input>
					</form>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>