<div>
    <div className='container container-fluid'>
        <div className='row'>
            <div className='col-10 col-md-4 card  text-center'>
                <form action='/teams' method='POST'>
                    <div class='mb-3'>
                        <label for='newTeam' class='form-label'>Add New Team</label>
                        <input type='text' class='form-control' name='newTeam' placeholder="New Team" />
                    </div>
                    <div class='mb-3'>
                        <label for='headCoach' class='form-label'>Enter the Email of the Head Coach for New Team</label>
                        <input type='text' class='form-control' name='headCoach' placeholder="example@mail.com" />
                    </div>
                    <input type='submit' class='btn btn-primary'></input>
                    <div class='mb-3'>
                        <ul class="teams_list">
                            {{#each teams}}
                            <li>
                                <!-- Button trigger modal -->
                                <div class='mb-3'>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#{{this}}">
                                        {{this}}
                                    </button>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="{{this}}" tabindex="-1" role="dialog"
                                    aria-labelledby="{{this}}Title" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <input type="text" name="team" value="{{this}}" hidden="true">
                                                <h5 class="modal-title" id="{{this}}Title" name="{{this}}"
                                                    value="{{this}}">{{this}}</h5>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class='mb-3'>
                                                    <ul class="players_list">
                                                        {{#each ../players}}
                                                        {{#if (isEqual ../this this.team)}}
                                                        <div class='mb-3'>
                                                            {{this.name}}
                                                        </div>
                                                        {{/if}}
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </form>
            </div>
            <a class='btn btn-primary' href='/profile' role='button'>Back</a>
        </div>
    </div>
</div>