<div>
    <div className='container container-fluid'>
        <div class='row gx-5 justify-content-center'>
            <div class="col-12 col-md-7 text-center">
                <h3>List of Teams</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Team Name</th>
                        </tr>
                    </thead>
                    <tbody>
                       {{#each teams}}                        
                            <tr>
                                <td>
                                    <div class='mb-3'>
                                    <button type="button" class="btn btn-primary btn-light" data-bs-toggle="modal"
                                        data-bs-target="#{{this}}">
                                        {{this}}
                                    </button>
                                    <div class="modal fade" id="{{this}}" tabindex="-1" role="dialog"
                                    aria-labelledby="{{this}}Title" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <input type="text" name="team" value="{{this}}" hidden="true">
                                                <h5 class="modal-title" id="{{this}}Title" name="{{this}}"
                                                    value="{{this}}">{{this}}</h5>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class='mb-3'>
                                                    <ul class="players_list">
                                                        {{#each ../players}}
                                                        {{#if (isEqual ../this this.team)}}
                                                        <div class='mb-3'>
                                                            {{this.name}}
                                                        </div>
                                                        {{/if}}
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>                     
                            </tr>
                        {{/each}}  
                    </tbody>
                </table>
            </div>
        </div>

        <form action='/teams' method='POST'>
            <div class="row gx-5">
                <div class="col-12 col-md-5 mt-2">
                    <label for='newTeam' class='form-label'><b>Add New Team</b></label>
                    <input type='text' class='form-control' name='newTeam' placeholder="New Team" />
                </div>

                <div class="col-12 col-md-5 mt-2">
                    <label for='headCoach' class='form-label'><b>The Email of the Head Coach for New Team</b></label>
                    <input type='text' class='form-control' name='headCoach' placeholder="example@mail.com" />                              
                </div>           
            </div>

            <div class="row mt-2">
                <div class="col-auto">
                    <input type='submit' class='btn btn-primary'></input>
                </div>
                <div class="col-auto">
                    <a class='btn btn-primary' href='/profile' role='button'>Back</a>
                </div>
            </div>
        </form>
    </div>
</div>