{{#each activeWorkout}}
<h1>Hi {{this.data.playerName}}</h1>
<h2>Workout Assigned By {{this.data.coach}}</h2>
<p>Date Created: {{this.data.dateCreated}}</p>
{{#each this.data.exercises}}
<p id="{{@index}}">Exercise: {{this.exercise}}</p>
<p id="{{@index}}">Sets: {{this.sets}}</p>
<p id="{{@index}}">Reps: {{this.reps}}</p>
<p id="{{@index}}">Weight: {{this.weight}}</p>
<p id="{{@index}}">Comments: {{this.comments}}</p>
<iframe id="{{@index}}" width="420" height="315" src="https://www.youtube.com/embed/{{this.video}}">
</iframe>
{{/each}}
<button id="next-exercise">Next</button>
{{/each}}

<script>
    const hiddenElements = []
    const allElementsWithId = document.querySelectorAll('[id]');
    let largestValue = 0;
    allElementsWithId.forEach(element => {
        const idNumber = parseFloat(element.id);
        if (!isNaN(idNumber) && idNumber > largestValue) {
            largestValue = idNumber;
        }
    })
    for (let i = 1; i <= largestValue; i++) {
        const selector = `[id^="${i}"]`;
        const elements = document.querySelectorAll(selector);
        hiddenElements.push(...elements);
    }
    hiddenElements.forEach(element => {
        element.style.display = "none";
    });

    const unhiddenElements = [];
    let currentExercise = 1;
    document.addEventListener('DOMContentLoaded', function () {
        const nextButton = document.getElementById('next-exercise');
        nextButton.addEventListener('click', function () {
            for (let i = 0; i <= largestValue; i++) {
                if (i != currentExercise) {
                    const selector = `[id^="${i}"]`;
                    const elements = document.querySelectorAll(selector);
                    hiddenElements.push(...elements);
                } else {
                    const selector = `[id^="${i}"]`;
                    const elements = document.querySelectorAll(selector);
                    unhiddenElements.push(...elements);
                }
                hiddenElements.forEach(element => {
                    element.style.display = "none";
                });
                unhiddenElements.forEach(element => {
                    element.style.display = "";
                });
            }
            currentExercise += 1;
        });
    });
</script>